body {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica Neue', Tahoma, sans-serif;
	font-weight: 100;
	background-color: white;
	color: #2a2a2a;
}

a {
	color: #2a2a2a;
	font-weight: bold;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
nav a { font-weight: 100; }


/**
 * 	Data table
 */

#data-table {
	background-color: #333;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#data-table-overlay { background-color: rgba(0,0,0,0.9); }
#data-table tr { background-color: white; }

#data-table tr#row-0 {
	background-color: #333;
	color: white;
	font-weight: bold;
}

#data-table td.selected-x,
#data-table td.selected-y { color: #fff; }
#data-table td.selected-x { background-color: #EB009C; }
#data-table td.selected-y { background-color: #009CEB; }

#data-table-buttons a,
#data-table-submit {
	color: white;
	line-height: 40px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#data-table-buttons a { font-size: 26px; }
a#data-table-submit { font-size: 22px; }

#data-table-buttons a:hover,
a#data-table-submit:hover { text-decoration: none; }

a#data-table-submit:hover { color: #9CEB00; }
#data-table-buttons a#x-picker:hover,
#data-table-buttons a#x-picker.active { color: #EB009C; }
#data-table-buttons a#y-picker:hover,
#data-table-buttons a#y-picker.active { color: #009CEB; }


/**
 * 	Timeline
 */

#timeline {
	color: #2a2a2a;
	background-color: #eee;
}

#timeline a { color: #fff; }


/**
 * 	Footer
 */

footer { font-size: 0.8em; }
footer, footer a { color: #5a5a5a; }
