@media (max-width: 700px) {
	header {
		height: 105px;
		font-size: 0.8em;
	}
	
	header #header-bg {
		left: 0;
		width: auto;
		height: 105px;
	}
	header #header-bg img { width: 700px; }
}

@media (max-width: 400px) {
	footer { font-size: 0.5em; }
}

@media (-webkit-min-device-pixel-ratio: 2),
	   (min-resolution: 192dpi),
	   (min-resolution: 2dppx) {
	
}
